@font-face {
	font:{
		family: "Open Sans";
		weight: normal;
		style: normal;
	}
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
}
@font-face {
	font:{
		family: "Open Sans Light";
		weight: normal;
		style: normal;
	}
	src: url("../fonts/OpenSans-Light.ttf") format("truetype"); 
}