section#mas-leidos{
	display: inline-block;
	width: 100%;
	background-color: rgb(240, 240, 240);
	vertical-align: top;
	height: 100%;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 20px;
	@media all and (max-width: 600px){
		position: static;
		width: calc(100% - 10px);
		height: auto;
		padding-left: 10px;
	}
	@media all and (min-width: 601px){
		max-width: 250px;
	}
	& h1#titulo{
		margin-top: 50px;
		@media all and (max-width: 600px){
			margin-top: 0px;
		}		
	}
}
#noticias-mas-leidas {
	overflow: hidden; 
	overflow-y: scroll; 
	height: 80%; 
	position: absolute; 
	width: 90%;
	@media all and (max-width: 600px){
		position: static;
		width: 100%;
	}
}
		section#mas-leidos .noticia{
			display: block;
			margin: 10px 0px;
			padding: 10px;
			background-color: #FFF;
			box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
			width: 90%;
			vertical-align: middle;
		}
			section#mas-leidos .noticia .imagen{
				display: inline-block;
				width: 75px;
				height: 50px;
				background-color: rgb(50, 50, 50);
				background-position: center;
				background-size: cover;
				vertical-align: middle;
			}
			section#mas-leidos .noticia .texto{
				max-width: 200px;
				vertical-align: middle;
				display: inline-block;
			}


section#destacado{
	display: inline-block;
	width: 100%;
	min-height: 450px;
	background-color: rgb(20, 20, 20);
	background-position: center;
	background-size: cover;
}
	section#destacado .degradado{
		background: transparent linear-gradient(to top, #141414 0%, transparent 50%) repeat scroll 0% 0%;
	}
		section#destacado .texto{
			padding-top: 350px;
			padding-bottom: 20px;
			color: rgb(255, 255, 255);
		}
		section#destacado .texto h1{
			font-size: 65px;
			line-height: 65px;
			@media all and (max-width: 600px){
				font-size: 45px;
				line-height: 45px;
			}
		}
		section#destacado .texto p{
			margin-top: 10px;
			font-size: 20px;
			line-height: 20px;
		}

section#tres-destacados-mas .noticia{
	display: inline-block;
	margin: 10px;
	width: 30%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	vertical-align: top;
	@media all and (max-width: 600px){
		width: calc(100% - 20px);
		display: block;
	}
	& .imagen{
		width: 100%;
		height: 200px;
		background-color: rgb(50, 50, 50);
		background-position: center;
		background-size: cover;
	}
	& .texto{
		background: transparent linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 50%) repeat scroll 0% 0%;
		padding: 10px;
		color: #FFF;
	}
}


section#contenido-principal{
	width: 100%;
	& .noticia-nivel1{
		display: block;
		margin: 10px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
		width: 100%;
		min-height: 400px;
		overflow: hidden;
		& .imagen{
			width: 100%;
			height: 300px;
			background-color: rgb(50, 50, 50);
			background-position: center;
			background-size: cover;
		}
		& .texto{
			padding: 10px;
			overflow: hidden;
		}
	}
	& .noticia-nivel2{
		display: block;
		margin: 10px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
		width: 100%;
		min-height: 100px;
		overflow: hidden;
		& .imagen{
			display: inline-block;
			width: 200px;
			height: 150px;
			background-color: rgb(50, 50, 50);
			background-position: center;
			background-size: cover;
			vertical-align: top;
			@media all and (max-width: 600px){
				width: 100px;
			}
		}
		& .texto{
			max-width: 300px;
			padding: 10px;
			vertical-align: top;
			display: inline-block;
			overflow: hidden;
			@media all and (max-width: 600px){
				width: calc(100% - 130px);
			}
		}
		& h1{
			display: inline-block;
		}
	}
	& .noticia-nivel3{
		display: block;
		margin: 10px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
		width: calc(100% - 20px);
		min-height: 50px;
		padding: 10px;
		vertical-align: top;
	}
}