header{
	position: fixed;
	background: rgb(80, 80, 80);
	color: #FFF;
	width: 100%;
	box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
header #logotipo{
	display: inline-block; 
	padding: 10px;
	vertical-align: top;
	width: 130px;
	height: 20px;
	background-image: url(../img/brand-prov.png);
	background-size: cover;
	background-position: center;
}

/* Boton exclusivo en dispositivos moviles */
header #menu-responsive{
	vertical-align: top; 
	display: none;
	padding: 10px;
	max-width: 75px;
	@media all and (max-width: 600px){
		display: inline-block;
	}
}

/* Boton que permite ver el bloque de noticias recientes */
header #ver-recientes {
	vertical-align: top; 
	display: inline-block;
	padding: 10px;
	max-width: 75px;
}

/* Navegacion normal */
header nav#principal{
	@media all and (max-width: 600px){
		display: none; 
	}
	@media all and (min-width: 601px){
		display: inline-block; 
	}
	& a{
		text-decoration: none; 
		color: inherit; 
	}
	& ul{
		display: inline-block;
		padding: 10px;
		cursor: pointer; 
		vertical-align: top; 
		& ul {
			position: relative; 
			display: none; 
			background-color: transparent; 
			padding: 0; 
			& li {
				list-style: none; 
				background-color: transparent; 
				padding: 10px; 
				&:hover {
					background-color: rgba(255, 255, 255, 0.5); 
					color: rgb(0, 0, 0); 
				}
			}
		}
		&:hover{
			background-color: rgba(0, 0, 0, 0.5);
		} 
		&:hover ul{
			display: block; 
			&:hover {background-color: transparent; }
		}
	}
}

/* Bloque de noticias recientes ubicado debajo de la barra */
#bloque-noticias-recientes {
	display: none; 
	position: fixed; 
	width: 100%; 
	height: 125px; 
	background-color: rgb(20, 20, 20); 
	overflow: hidden; 
}
	.bloque-noticia-reciente{
		display: inline-block; 
		background-color: #FFF; 
		width: 200px; 
		height: 100px; 
		margin: 10px 5px; 
		margin-left: 25px; 
	}